* {
    box-sizing: border-box;
    --color-gray: #f0f0f0;
    --color-dark: #333;
    --color-medium: #637eba;
    --color-bright: yellow;
}

body, input, button {
    font-family: "Roboto Slab";
    font-size: .95em;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: var(--color-gray);
    color: var(--color-gray);
}

h1 {
    font-size: 2em;
    text-transform: uppercase;
    color: var(--color-bright);
}

table {
    border-spacing: 0;
}

th {
    color: var(--color-dark);
    font-weight: bold;
}

th, td {
    padding: .2em;
}

.pad-med {
    padding: .5em 1em;
}


/* INPUT, BUTTON */
input {
    background-color: var(--color-gray);
    border: 0;
    border-radius: 1em;
}

input:focus {
    box-shadow:
        0 0 2px 1px var(--color-dark);
    ;
    outline: none;
}

button {
    margin-right: .5em;
    border: 0;
}

::-moz-focus-inner {
    border: 0;
}

.button-cyan {
    border-radius: 2em;
    padding: 0.5em 1em;
    background-color: var(--color-bright);
    color: var(--color-dark);
    font-weight: bold;
}

.button-cyan:hover {
    background-color: var(--color-gray);
}

.button-cyan:focus {
    box-shadow:
        0 0 0 2px var(--color-medium),
        0 0 0 5px var(--color-bright);
    ;
    outline: none;
}

.button-cyan:active {
    background-color: var(--color-bright);
    color: var(--color-dark);
}


/* PRESCRIPTION AREA */
#prescription-area {
    padding: 1em 3em;
    min-width: 800px;
    max-width: 60%;
    background-color: var(--color-medium);
    box-shadow: 1px 1px 10px 1px #999;
}

#prescription-table {
    margin-top: 1.5em;
    margin-bottom: 2em;
}

#prescription-table-body tr:nth-child(2n+3) {
    background-color: var(--color-gray);
    color: var(--color-dark);
}

.pres-col-id {
    font-weight: bold;
}

.pres-col-dailydose {
    width: 6em;
}

.pres-col-unit {
    width: 4em;
}

.pres-col-nodays {
    width: 5em;
}

.pres-col-instruction {
    width: 100%;
}

.pres-col-buttons {
    display: flex;
    margin-left: .1em;
}

.pres-col-buttons > button {
    padding: .1em;
    background-color: transparent;
    border-radius: .5em;
    font-size: .8em;
}

.pres-col-buttons > button:hover {
    color: var(--color-bright);
}

.pres-col-buttons > button:focus {
    box-shadow:
        0 0 0px 2px var(--color-bright);
    ;
    outline: none;
    color: var(--color-bright);
}

.pres-col-buttons > button:active {
    color: var(--color-dark);
}

#prescription-table-body tr:nth-child(2n+3) .pres-col-buttons > button:hover {
    color: var(--color-medium);
}

#prescription-table-body tr:nth-child(2n+3) .pres-col-buttons > button:focus {
    box-shadow:
        0 0 0px 2px var(--color-medium);
    ;
    outline: none;
    color: var(--color-medium);
}

#prescription-table-body tr:nth-child(2n+3) .pres-col-buttons > button:active {
    color: var(--color-dark);
}

#prescription-table-body tr:nth-child(2n+3) input {
    border: 1px solid var(--color-dark);
}


/* DIV-MESSAGE */
#div-message {
    margin-top: 1em;
    padding: 1em;
    border: 1px solid var(--color-dark);
    border-radius: 5px;
    font-size: 10pt;
}

#div-message > h2 {
    margin: 0;
    font-size: 1.4em;
    color: var(--color-bright);
}
