h1 {
    margin-top: 20px;
    margin-bottom: 50px;
}

.navbar {
    background-color: #e3e3e3;
}

.container {
    margin-bottom: 30px;
}

#main-content {
    background-color: #a6d4ec;
}