/* Element selector */
body {
    font-family: 'Lexend Light', sans-serif;
    margin: 0pt;
}

h1 {
    font-family: 'Lexend SemiBold';
    font-size: 1.5em;
}

code {
    font-family: 'Noto Sans Mono', monospace;
}

header, footer {
    display: block;
    background-color: #007c7c;
    color: #ececf0;
    font-size: 0.9em;
    padding: .3em;
}

header {
    margin-bottom: .6em;
}

footer {
    margin-top: .6em;
}

nav span {
    background-color: #ececf0;
    color: black;
    display: inline-block;
    width: 100px;
    text-decoration: none;
    text-align: center;
    margin: .3em;
    padding: .3em;
    border-radius: .3em;
}

nav span:hover {
    background-color: #f7e7a8;
    font-weight: bold;
    cursor: pointer;
}

a {
    background-color: #ececf0;
    color: #007c7c;
    padding-left: .2em;
    padding-right: .2em;
}

a:hover, a:active {
    background-color: #f7e7a8;
    color: #ca0035;
}

/* Class selector */
.div-arial {
    font-family: Arial;
    font-size: 1em;
}

/* ID selector */
#section-lists {
    font-style: italic;
}